body {
    overflow-x: hidden;
}

body h1 {
    font-size: 4em;
}

body h3 {
    font-size: 3em;
}

p {}

@media(max-width:640px) {
    .sec-cover {
        height: 700px;
    }
}

@media(min-width:640px) {
    .sec-cover {
        height: 950px;
    }
}

#SideBar ul {
    list-style: none;
}

#SideBar a {
    color: whitesmoke;
    text-decoration-line: none;
}